# Ignore venv
*.venv

# Ignore .idea
*.idea

#ignore .vscode
*.vscode

# Ignore pycache
app/__pycache__
app/controllers/__pycache__/
app/dtos/__pycache__/
app/models/__pycache__/
app/routes/__pycache__/
app/services/__pycache__/

# Ignore DS_Store file
*.DS_Store
# Ignore desktop.ini
*desktop.ini