<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>u-proof</title>

    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/error-style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="logo-container">
        <img
          src="{{ url_for('static', filename='images/uproof.png') }}"
          id="logo"
          alt="u-proof logo"
        />
      </div>
        <div class="error-container">
            <h1><strong>ERROR 403</strong></h1>
            <p class="err-msg"><b>Forbidden:</b> You don't have permission to access this resource</p>      
        </div> 

        <div class="form-footer">Made with ❤️</div>

      </div>
    </div>


  </body>
</html>
