<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>u-proof</title>

    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="logo-container">
        <img
          src="{{ url_for('static', filename='images/uproof.png') }}"
          id="logo"
          alt="u-proof logo"
        />
      </div>

      <div class="form-container">
        <p class="lead">
          Check <i>phishing link</i> with <strong>u-proof</strong> (ML model).
        </p>

        <form id="url-form" action="/" method="post">
          <div class="link-input">
            <input
              type="url"
              id="url-input"
              name="url"
              placeholder="https://www.example.com"
              required
            />
          </div>

          <div class="actions">
            <button
              id="submit-btn"
              name="button"
              type="submit"
              class="btn"
              disabled
            >
              Scan
            </button>
          </div>
        </form>

        <div class="form-footer">Made with ❤️</div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
