@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 700px;
}

.logo-container {
  margin: 50px 50px 0 50px;
}

#logo {
  width: 445px;
  height: 190px;
}

.error-container {
  text-align: center;
  font-size: 35px;
}

.err-msg {
  font-size: 25px;
  margin-top: 3px;
}

.form-footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #777;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }

  .logo-container {
    margin: 10% 5% 0 5%;
  }

  /* Media query for 450px screen*/
  @media only screen and (max-width: 450px) {
    #logo {
      width: 100%;
      height: auto;
    }

    .error-container {
      font-size: 25px;
    }

    .err-msg {
      font-size: 15px;
      margin-top: 3px;
    }
  }
}
